<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Huawei Cloud Mirror (推荐国内使用) -->
    <add key="huaweicloud" value="https://mirrors.huaweicloud.com/repository/nuget/v3/index.json" />
    <!-- Azure China Mirror (备用) -->
    <add key="azure-china" value="https://nuget.cdn.azure.cn/v3/index.json" />
    <!-- 官方源 (备用，如果上面的镜像不可用) -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
